@import "./base.css";

body,
html,
* {
  scroll-behavior: smooth;
  scrollbar-color: var(--c-red);
  color: var(--c-red);
  padding: 0;
  margin: 0;
}
body,
html {
  background: var(--color-background-soft);
}

p {
  color: white;
}

a,
.red {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 100%, 37%, 0.2);
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-red);
}
::-webkit-scrollbar-track {
  background: black;
}
